body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 5rem;
    text-align:center;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.nav-account-container {
    display: flex;
}

#username {
    margin-right: 0px;
    border-color: transparent;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

/* GRILLE D'ICÔNES */
.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

/* --- CONTAINER D'UNE ICÔNE --- */
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-label {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.icon-label p {
    padding-right: 5px;
}

/* List user */
#users-container {
    margin-top: 100px;
}

#users-container h2 {
    text-align: center;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user h2 {
    margin-right: 30px;
}

.user-icon {
    margin-right: 10px;
}